@font-face {
  font-family: "Sweet Sensations";
  src: url("./fonts/SweetSensations.ttf");
}
* {
  margin: 0px;
  border: none;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

.wrapper {
  display: block;
  margin: 0 auto;
  align-content: center;
  padding: 0px;
}

h1 {
  font-family: "Sweet Sensations", sans-serif;
  font-size: 9vw;
  font-weight: 300;
  margin: 0 auto;
  display: inline;
  vertical-align: top;
}

.tagline {
  font-size: 2vw;
}

#title-wrapper {
  align-content: center;
  float: right;
  margin-top: 10vw;
  text-align: center;
  padding: 40px;
  padding-right: 10vw;
}

.heading-wrapper {
  margin: 0 auto;
  width: 100vw;
  height: 35vw;
  display: block;
  text-align: center;
  background-image: url("../img/rasp-blossom2.jpeg");
  background-size: 100vw;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottle {
  height: 40vh;
  display: inline-block;
}

.ingredients {
  /* background-color: #ffd447; */
  padding: 30px;
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
}

.ingredient-card {
  text-align: center;
  width: 15%;
  margin: 4%;
  display: inline-block;
}

.ingredient-img {
  width: 6vw;
}

h2 {
  font-weight: 300;
  color: white;
  margin: 0px;
}

.nutrition {
  background-color: black;
  width: 100%;
  padding: 50px;
  color: white;
  font-weight: 100;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 300;
}

i {
  font-weight: 400;
}

.nutrition-facts {
  width: 30vw;
  display: inline-block;
  padding-left: 5vw;
  vertical-align: middle;
}

.nutrition-p-wrapper {
  padding: 20px;
  width: 30%;
  text-align: left;
  margin-right: 0px;
  display: inline-block;
  padding-right: 5vw;
}

.coffee-img {
  width: 5vw;
  display: inline-block;
  padding-left: 2vw;
}

.nutrition-p {
  font-size: 2.5vw;
  text-align: left;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 300;
}
.coffee {
  text-align: right;
  display: inline-block;
  font-size: 40px;
}
a {
  text-decoration: none;
}
.social {
  width: 20px;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 5px;
}

.venmo {
  width: 25px;
}

.footer {
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}
.m {
  margin-right: -10vw;
  width: 35vw;
}

.reserve {
  width: 29vw;
  padding-top: 30px;
  font-size: 3vw;
  font-weight: 100;
  margin: auto 0;
  margin-right: -20px;
}

.venmo {
  font-weight: 400;
  font-size: 3vw;
}
