@font-face {
  font-family: "Sweet Sensations";
  src: url("./fonts/SweetSensations.ttf");
}

@font-face {
  font-family: "American Typerwriter";
  src: url("./fonts/AmericanTypewriterRegular.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

.about-header {
  background-image: url("../img/team.JPG");
  height: 100vh;
  background-size: cover;
}

.about-title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 6vw;
  color: white;
  display: block;
  margin-top: 20vh;
  text-align: left;
  margin-left: 100px;
}

.person-wrapper {
  display: inline-block;
  width: 20vw;
  margin: 25px;
  text-align: left;
  vertical-align: middle;
}

.person-img {
  width: 20vw;
  vertical-align: middle;
}

.row {
  display: block;
}
.person-name {
  font-weight: 300;
  margin-top: 20px;
  font-size: 4vw;
}
.person-title {
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team {
  margin-top: 50px;
  margin-bottom: 50px;
}

.person-description {
  background-color: black;
  color: white;
  padding: 10px;
  font-family: "American Typewriter", serif;
}
.person-description-wrapper {
  vertical-align: middle;
  text-align: left;
  display: inline-block;
  width: 45vw;
  margin-left: 20px;
  overflow-x: visible;
}
@media only screen and (max-width: 600px) {
  .person-name {
    font-size: 25px;
  }
  .about-header {
    height: 50vh;
    background-position: center;
    background-position-y: 40px;
    /* background-size: contain; */
    background-repeat: no-repeat;
  }
  .person-img {
    width: 50vw;
    margin: 0 auto;
  }
  .person-wrapper {
    display: block;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .team {
    margin-top: 20px;
  }

  .person-description {
    display: inline-block;
    width: 50vw;
    /* text-align: left; */
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
  }

  .person-description-wrapper {
    width: 90vw;
    text-align: center;
    margin-left: 0px;
  }
}
