@font-face {
  font-family: "Sweet Sensations";
  src: url("./fonts/SweetSensations.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

.about-header {
  background-image: url("../img/team.JPG");
  height: 100vh;
  background-size: cover;
}

.about-title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 6vw;
  color: white;
  display: block;
  margin-top: 20vh;
  text-align: left;
  margin-left: 100px;
}

.person-wrapper {
  display: inline-block;
  width: 20vw;
  margin: 25px;
  text-align: left;
}

.person-img {
  width: 20vw;
  vertical-align: middle;
}

.row {
  display: block;
}
.person-title {
  font-weight: 600;
  margin-top: 20px;
}

.team {
  margin-top: 100px;
  margin-bottom: 50px;
}
