@font-face {
  font-family: "Sweet Sensations";
  src: url("./fonts/SweetSensations.ttf");
}
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

* {
  margin: 0px;
  border: none;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 100%;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

.wrapper {
  display: block;
  margin: 0 auto;
  align-content: center;
  padding: 0px;
  width: 100%;
}

h1 {
  font-family: "Sweet Sensations", sans-serif;
  font-size: 9vw;
  font-weight: 300;
  margin: 0 auto;
  display: inline;
  vertical-align: top;
}

.tagline {
  font-size: 2vw;
}

.title-wrapper {
  align-content: center;
  float: right;
  margin: 0 auto;
  margin-top: 40vh;
  text-align: center;
  padding: 40px;
  width: 40%;
}

.heading-wrapper {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  display: block;
  text-align: center;
  background-image: url("../img/lemon-bottle.JPG");
  background-size: 100vw;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottle {
  height: 40vh;
  display: inline-block;
}

.ingredients {
  /* background-color: #ffd447; */
  padding: 30px;
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
}

.ingredient-card {
  text-align: center;
  width: 15%;
  margin: 4%;
  display: inline-block;
}

.ingredient-img {
  width: 6vw;
}

h2 {
  font-weight: 300;
  color: white;
  margin: 0px;
}

.nutrition {
  background-color: black;
  width: 100%;
  color: white;
  font-weight: 100;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  padding-top: 10vh;
}

i {
  font-weight: 400;
}

.nutrition-facts {
  width: 30vw;
  display: inline-block;
  padding-left: 5vw;
  vertical-align: middle;
}

.nutrition-p-wrapper {
  padding: 20px;
  width: 30%;
  text-align: left;
  margin-right: 0px;
  display: inline-block;
  padding-right: 5vw;
}

.coffee-img {
  width: 5vw;
  display: inline-block;
  padding-left: 2vw;
}

.nutrition-p {
  font-size: 2.5vw;
  text-align: left;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 300;
}
.coffee {
  text-align: right;
  display: inline-block;
  font-size: 40px;
}
a {
  text-decoration: none;
}
.social {
  width: 20px;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 5px;
}

.venmo {
  width: 25px;
}

.footer {
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}
.m {
  margin-right: -10vw;
  width: 35vw;
}

.reserve {
  width: 29vw;
  padding-top: 30px;
  font-size: 3vw;
  font-weight: 100;
  margin: auto 0;
  margin-right: -20px;
}

.venmo {
  font-weight: 400;
  font-size: 3vw;
}

.nutrition-p-wrapper {
  margin: 0px;
  padding: 0px;
  width: 45%;
  padding-top: 0px;
  vertical-align: middle;
  display: inline-block;
}
.nutrition-p {
  font-size: 7vw;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
}
img.nutrition-facts {
  width: 40vw;
  vertical-align: middle;
  padding-left: 0px;
}
.coffee-img {
  width: 12vw;
  display: inline-block;
  padding-left: 20px;
  vertical-align: middle;
}

.caffeine {
  font-size: 9vw;
  display: inline;
  vertical-align: middle;
  padding-right: 20px;
}
.caffeine-wrapper {
  margin: 0 auto;
  text-align: center;
  height: 20vh;
  width: 110%;
}
.mg {
  font-size: 3vw;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  /* height: 15vh; */
}

.coffee {
  font-size: 3.5vw;
  text-align: right;
  /* height: 10vh; */
  width: 40%;
  vertical-align: middle;
}
.coffee-wrapper {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

.natural {
  padding-top: 10vh;
  font-size: 3.5vw;
}

.description-wrapper {
  margin: 0 auto;
  padding: 10vw;
}

.description {
  width: 80vw;
  margin: 0 auto;
  margin-left: 0px;
  text-align: center;
}
.description-content {
  font-size: 3vw;
  display: inline-block;
  width: 60vw;
}

.quote {
  width: 5vw;
  display: inline-block;
  vertical-align: top;
  margin-right: 3vw;
}

.end {
  vertical-align: bottom;
  margin-left: -2vw;
}
.end {
  display: inline-block;
}

.order-wrapper {
  background-image: url(../img/tree.jpg);
  width: 100%;
  margin: 0 auto;
  padding-top: 6vw;
  padding-bottom: 6vw;
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: white;
  overflow: hidden;
}

.flavors {
  color: white;
  font-size: 3vw;
  width: 40%;
  margin-right: 2vw;
  display: inline-block;
  vertical-align: middle;
}
.lemon {
  vertical-align: middle;
}
.flavor-icon {
  width: 6.5vw;
  vertical-align: middle;
}

.lemon-icon {
  transform: rotate(280deg);
  width: 4vw;
  margin-right: 2.5vw;
}

.raspberry-icon {
  width: 4vw;
  padding-right: 1.5vw;
  padding-left: 1vw;
}
.raspberry {
  padding-top: 2vh;
}

.flavor {
  text-align: left;
  padding-left: 3vw;
}
.reserve {
  padding-bottom: 3vh;
  text-align: center;
  margin: 0 auto;
  padding-top: 0px;
  font-size: 3.5vw;
  width: 100%;
}
.order {
  background: #000000ad;
  border-radius: 10px;
  vertical-align: middle;
  width: 52vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 5vh;
  margin-top: 12vh;
  margin-left: 20px;
}

.prices {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: left;
  margin-left: 2vw;
}

.price {
  font-size: 3.5vw;
}

.price-wrapper {
  display: inline-block;
  width: 45%;
}

.venmo-handle {
  display: block;
  margin-top: 3vh;
  text-decoration: none;
  color: white;
}

.venmo-handle:hover {
  color: #f8ff98;
}

@media only screen and (max-width: 600px) {
  .heading-wrapper {
    height: 70vh;
    background-position-y: -20px;
  }

  .title-wrapper {
    width: 42vw;
    height: 42vw;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 40vw;
    float: none;
    padding: 40px;
    margin: 0 auto;
    overflow-x: visible;
    margin-top: 20vh;
    text-align: center;
    position: relative;
  }

  h1 {
    font-size: 15vw;
    padding: 0px;
    padding-top: 30px;
    display: block;
    overflow-x: visible;
    margin: 0 auto;
    margin-left: -10px;
  }

  .tagline {
    font-size: 4vw;
    margin: 0 auto;
  }
  .ingredients {
    padding: 10px;
  }
  .ingredient-card {
    width: 25%;
    margin: 10%;
    margin-top: 0px;
  }

  .ingredient-img {
    width: 90%;
  }

  .footer {
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
  }

  .nutrition-facts {
    width: 80%;
    padding: 0px;
    margin: 0 auto;
  }

  .nutrition-p-wrapper {
    padding: 30px;
    width: 80%;
    padding-top: 70px;
    overflow-x: visible;
  }
  .nutrition-p {
    font-size: 7vw;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .coffee-img {
    width: 18vw;
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    margin-top: -15px;
  }

  .caffeine {
    font-size: 20vw;
    display: inline;
    vertical-align: middle;
    padding-right: 10px;
  }
  .caffeine-wrapper {
    margin: 0 auto;
    text-align: center;
    overflow-x: visible;
    height: 12vh;
  }
  .mg {
    font-size: 6vw;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    overflow-x: visible;
    height: 10vh;
  }

  .coffee {
    text-align: right;
    height: 50px;
    width: 50%;
    vertical-align: middle;
  }
  .coffee-wrapper {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
  }

  .natural {
    padding-top: 30px;
  }

  img.nutrition-facts {
    width: 70vw;
  }
}
